﻿@model housingSurvey.Models.survQuestion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Base Controls
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            <div class="form-horizontal">
                <h4>survQuestion</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })



                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.gender, 0, new { @class = "radio", @id = "gender1", @type = "radio" })
                            <span></span>Male
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.gender, 1, new { @class = "radio", @id = "gender2" })
                            <span></span>Female
                        </label>
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>



                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ageRange, htmlAttributes: new { @class = "control-label col-md-2" })


                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.ageRange, 0, new { @class = "radio", @id = "ageRange1", @type = "radio" })
                            <span></span>18-29
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.ageRange, 1, new { @class = "radio", @id = "ageRange2" })
                            <span></span>30-39
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.ageRange, 2, new { @class = "radio", @id = "ageRange3" })
                            <span></span>40-49
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.ageRange, 3, new { @class = "radio", @id = "ageRange4" })
                            <span></span>50-59
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.ageRange, 4, new { @class = "radio", @id = "ageRange5" })
                            <span></span>60+
                        </label>
                        @Html.ValidationMessageFor(model => model.ageRange, "", new { @class = "text-danger" })
                    </div>



                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.nationality_FK, "nationality_FK", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("nationality_FK", null, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nationality_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.village_FK, "village_FK", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("village_FK", null, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.village_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.eduLevel, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.eduLevel, 0, new { @class = "radio", @id = "eduLevel1", @type = "radio" })
                            <span></span>Primary School
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.eduLevel, 1, new { @class = "radio", @id = "eduLevel2" })
                            <span></span>High School
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.eduLevel, 2, new { @class = "radio", @id = "eduLevel3" })
                            <span></span>College
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.eduLevel, 3, new { @class = "radio", @id = "eduLevel4" })
                            <span></span>Post Graduate
                        </label>

                        @Html.ValidationMessageFor(model => model.eduLevel, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.marStatus_FK, "marStatus_FK", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("marStatus_FK", null, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.marStatus_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripCap, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.descripCap, 0, new { @class = "radio", @id = "descripCap1", @type = "radio" })
                            <span></span>Public Sector
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.descripCap, 1, new { @class = "radio", @id = "descripCap2" })
                            <span></span>Private Sector
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.descripCap, 2, new { @class = "radio", @id = "descripCap" })
                            <span></span>Dominica living in the Diaspora
                        </label>


                        @Html.ValidationMessageFor(model => model.descripCap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empStatsus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.empStatsus, 0, new { @class = "radio", @id = "empStatsus1", @type = "radio" })
                            <span></span>Employed full-time
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.empStatsus, 1, new { @class = "radio", @id = "empStatsus2" })
                            <span></span>Emploiyed part-time
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.empStatsus, 2, new { @class = "radio", @id = "empStatsus3" })
                            <span></span>Contractual engagement
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.empStatsus, 3, new { @class = "radio", @id = "empStatsus4" })
                            <span></span>Retired
                        </label>

                        @Html.ValidationMessageFor(model => model.empStatsus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numDepend, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numDepend, 0, new { @class = "radio", @id = "numDepend1", @type = "radio" })
                            <span></span>None
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numDepend, 1, new { @class = "radio", @id = "numDepend2" })
                            <span></span>1 - 2
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numDepend, 2, new { @class = "radio", @id = "numDepend3" })
                            <span></span>3 - 4
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numDepend, 3, new { @class = "radio", @id = "numDepend4" })
                            <span></span>5+
                        </label>

                        @Html.ValidationMessageFor(model => model.numDepend, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numCurrentHome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 0, new { @class = "radio", @id = "numCurrentHome1", @type = "radio" })
                            <span></span>Only you
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 1, new { @class = "radio", @id = "numCurrentHome2" })
                            <span></span>1 - 2
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 2, new { @class = "radio", @id = "numCurrentHome3" })
                            <span></span>3 - 4
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 3, new { @class = "radio", @id = "numCurrentHome4" })
                            <span></span>5+
                        </label>

                        @Html.ValidationMessageFor(model => model.numCurrentHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.monthIncRange, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 0, new { @class = "radio", @id = "monthIncRange1", @type = "radio" })
                            <span></span>Less than $800
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 1, new { @class = "radio", @id = "monthIncRange2" })
                            <span></span>$800 - $1,1999
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 2, new { @class = "radio", @id = "monthIncRange3" })
                            <span></span>$1,200 - $1,999
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 3, new { @class = "radio", @id = "monthIncRange4" })
                            <span></span>$2,000 - $2,999
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 4, new { @class = "radio", @id = "monthIncRange5" })
                            <span></span>$3,000 - $3,999
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 5, new { @class = "radio", @id = "monthIncRange6" })
                            <span></span>$4,000 - $4,999
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 6, new { @class = "radio", @id = "monthIncRange7" })
                            <span></span>$5,000 - $7,000
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.monthIncRange, 7, new { @class = "radio", @id = "monthIncRange8" })
                            <span></span>More than $7,000
                        </label>

                        @Html.ValidationMessageFor(model => model.monthIncRange, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.existLoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.existLoan)
                            @Html.ValidationMessageFor(model => model.existLoan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.currentHomeSit, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 0, new { @class = "radio", @id = "currentHomeSit1", @type = "radio" })
                            <span></span>Rent
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 1, new { @class = "radio", @id = "currentHomeSit2" })
                            <span></span>Own
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 2, new { @class = "radio", @id = "currentHomeSit3" })
                            <span></span>Living with family/friend but paying rent
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 3, new { @class = "radio", @id = "currentHomeSit4" })
                            <span></span>Living with family/friend but not paying rent
                        </label>

                        @Html.ValidationMessageFor(model => model.currentHomeSit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.savingsEqu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 0, new { @class = "radio", @id = "savingsEqu1", @type = "radio" })
                            <span></span>No Savings
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 1, new { @class = "radio", @id = "savingsEqu2" })
                            <span></span>Under $10,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 2, new { @class = "radio", @id = "savingsEqu3" })
                            <span></span>$10,000 - $20,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 3, new { @class = "radio", @id = "savingsEqu4" })
                            <span></span>$20,000 - $40,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 4, new { @class = "radio", @id = "savingsEqu5" })
                            <span></span>Over $40,000
                        </label>
                        @Html.ValidationMessageFor(model => model.savingsEqu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ownHome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ownHome)
                            @Html.ValidationMessageFor(model => model.ownHome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.noHomeWhy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.noHomeWhy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.noHomeWhy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.financeOption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 0, new { @class = "radio", @id = "financeOption1", @type = "radio" })
                            <span></span>Rent-to-own
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 1, new { @class = "radio", @id = "financeOption2" })
                            <span></span>Cash purchase
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 2, new { @class = "radio", @id = "financeOption3" })
                            <span></span>Bank loan
                        </label>

                        @Html.ValidationMessageFor(model => model.financeOption, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.annIncome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 0, new { @class = "radio", @id = "annIncome1", @type = "radio" })
                            <span></span>Less than $25,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 1, new { @class = "radio", @id = "annIncome2" })
                            <span></span>$25,000 - $50,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 2, new { @class = "radio", @id = "annIncome3" })
                            <span></span>$50,000 - $100,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 3, new { @class = "radio", @id = "annIncome4" })
                            <span></span>$100,000 - $200,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 4, new { @class = "radio", @id = "annIncome5" })
                            <span></span>More than $200,000
                        </label>
                        @Html.ValidationMessageFor(model => model.annIncome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.houseEnviro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 0, new { @class = "radio", @id = "houseEnviro1", @type = "radio" })
                            <span></span>Gated Community
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 1, new { @class = "radio", @id = "houseEnviro2" })
                            <span></span>Housing Scheme
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 2, new { @class = "radio", @id = "houseEnviro3" })
                            <span></span>Apartment Complex
                        </label>

                        @Html.ValidationMessageFor(model => model.houseEnviro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dwellStruct, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 0, new { @class = "radio", @id = "dwellStruct1", @type = "radio" })
                            <span></span>Single-Storey
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 1, new { @class = "radio", @id = "dwellStruct2" })
                            <span></span>Multi Storey
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 2, new { @class = "radio", @id = "dwellStruct3" })
                            <span></span>Unit in a shared or multi-unit residence
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 3, new { @class = "radio", @id = "dwellStruct4" })
                            <span></span>Deatached house
                        </label>
                        @Html.ValidationMessageFor(model => model.dwellStruct, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bedroomNeed, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 0, new { @class = "radio", @id = "bedroomNeed1", @type = "radio" })
                            <span></span>1 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 1, new { @class = "radio", @id = "bedroomNeed2" })
                            <span></span>2 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 2, new { @class = "radio", @id = "bedroomNeed3" })
                            <span></span>3 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 3, new { @class = "radio", @id = "bedroomNeed4" })
                            <span></span>4+ Bedroom Unit
                        </label>
                        @Html.ValidationMessageFor(model => model.bedroomNeed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bathroomNeed, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 0, new { @class = "radio", @id = "bathroomNeed1", @type = "radio" })
                            <span></span>1 Bath
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 1, new { @class = "radio", @id = "bathroomNeed2" })
                            <span></span>2 Bath
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 2, new { @class = "radio", @id = "bathroomNeed3" })
                            <span></span>3+ Bath
                        </label>

                        @Html.ValidationMessageFor(model => model.bathroomNeed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.individualMov, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 0, new { @class = "radio", @id = "individualMov1", @type = "radio" })
                            <span></span>Only You
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 1, new { @class = "radio", @id = "individualMov2" })
                            <span></span>1-2
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 2, new { @class = "radio", @id = "individualMov3" })
                            <span></span>3-4
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 2, new { @class = "radio", @id = "individualMov4" })
                            <span></span>5 or More
                        </label>
                        @Html.ValidationMessageFor(model => model.individualMov, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtLaundry, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtLaundry)
                            @Html.ValidationMessageFor(model => model.inAmtLaundry, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtMasB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtMasB)
                            @Html.ValidationMessageFor(model => model.inAmtMasB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtPantry, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtPantry)
                            @Html.ValidationMessageFor(model => model.inAmtPantry, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtSolar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtSolar)
                            @Html.ValidationMessageFor(model => model.inAmtSolar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtYard, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtYard)
                            @Html.ValidationMessageFor(model => model.inAmtYard, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtGarage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtGarage)
                            @Html.ValidationMessageFor(model => model.inAmtGarage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtWheel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtWheel)
                            @Html.ValidationMessageFor(model => model.inAmtWheel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtBPorch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtBPorch)
                            @Html.ValidationMessageFor(model => model.inAmtBPorch, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.inAmtBase, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.inAmtBase)
                            @Html.ValidationMessageFor(model => model.inAmtBase, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtPool, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtPool)
                            @Html.ValidationMessageFor(model => model.outAmtPool, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtPark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtPark)
                            @Html.ValidationMessageFor(model => model.outAmtPark, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtShop, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtShop)
                            @Html.ValidationMessageFor(model => model.outAmtShop, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtPubWIFI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtPubWIFI)
                            @Html.ValidationMessageFor(model => model.outAmtPubWIFI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtWheel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtWheel)
                            @Html.ValidationMessageFor(model => model.outAmtWheel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtParking, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtParking)
                            @Html.ValidationMessageFor(model => model.outAmtParking, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtWash, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtWash)
                            @Html.ValidationMessageFor(model => model.outAmtWash, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.outAmtTenis, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.outAmtTenis)
                            @Html.ValidationMessageFor(model => model.outAmtTenis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sizeHome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 0, new { @class = "radio", @id = "sizeHome1", @type = "radio" })
                            <span></span>1000 sq ft - 1500 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 1, new { @class = "radio", @id = "sizeHome2" })
                            <span></span>1500 sq ft - 2500 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 2, new { @class = "radio", @id = "sizeHome3" })
                            <span></span>2500 sq ft - 4000 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 3, new { @class = "radio", @id = "sizeHome4" })
                            <span></span>Over 4000 sq ft
                        </label>
                        @Html.ValidationMessageFor(model => model.sizeHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.homeAfford, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 0, new { @class = "radio", @id = "homeAfford1", @type = "radio" })
                            <span></span>Less than $50,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 1, new { @class = "radio", @id = "homeAfford2" })
                            <span></span>$50,000 - $99,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 2, new { @class = "radio", @id = "homeAfford3" })
                            <span></span>$100,000 - $149,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 3, new { @class = "radio", @id = "homeAfford4" })
                            <span></span>$150,000 - $199,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 4, new { @class = "radio", @id = "homeAfford5" })
                            <span></span>$200,000 - $250,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 5, new { @class = "radio", @id = "homeAfford6" })
                            <span></span>More than $250,000
                        </label>

                        @Html.ValidationMessageFor(model => model.homeAfford, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.likelyApply, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.likelyApply)
                            @Html.ValidationMessageFor(model => model.likelyApply, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.noApplyWhy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.noApplyWhy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.noApplyWhy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.elseShare, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.elseShare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.elseShare, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="form-group">
    <label>Default Checkboxes</label>
    <div class="checkbox-list">
        <label class="checkbox">
            <input type="checkbox" name="Checkboxes1" />
            <span></span>
            Default
        </label>
        <label class="checkbox checkbox-disabled">
            <input type="checkbox" disabled="disabled" checked="checked" name="Checkboxes1" />
            <span></span>
            Disabled
        </label>
        <label class="checkbox">
            <input type="checkbox" checked="checked" name="Checkboxes1" />
            <span></span>
            Checked
        </label>
    </div>
</div>
<div class="form-group">
    <label>Inline Checkboxes</label>
    <div class="checkbox-inline">
        <label class="checkbox">
            <input type="checkbox" name="Checkboxes2" />
            <span></span>
            Option 1
        </label>
        <label class="checkbox">
            <input type="checkbox" name="Checkboxes2" />
            <span></span>
            Option 2
        </label>
        <label class="checkbox">
            <input type="checkbox" name="Checkboxes2" />
            <span></span>
            Option 3
        </label>
    </div>
    <span class="form-text text-muted">Some help text goes here</span>
</div>
<div class="form-group">
    <label>Inline Checkboxes</label>
    <div class="checkbox-inline">
        <label class="checkbox">
            <input type="checkbox" checked="checked" name="Checkboxes3" />
            <span></span>
            Option 1
        </label>
        <label class="checkbox">
            <input type="checkbox" name="Checkboxes3" />
            <span></span>
            Option 2
        </label>
        <label class="checkbox">
            <input type="checkbox" checked="checked" name="Checkboxes3" />
            <span></span>
            Option 3
        </label>
    </div>
    <span class="form-text text-muted">Some help text goes here</span>
</div>
<div class="form-group">
    <label>Large Size</label>
    <div class="checkbox-inline">
        <label class="checkbox checkbox-lg">
            <input type="checkbox" checked="checked" name="Checkboxes3_1" />
            <span></span>
            Option 1
        </label>
        <label class="checkbox checkbox-lg">
            <input type="checkbox" name="Checkboxes3_1" />
            <span></span>
            Option 2
        </label>
        <label class="checkbox checkbox-lg">
            <input type="checkbox" name="Checkboxes3_1" />
            <span></span>
            Option 3
        </label>
    </div>
    <span class="form-text text-muted">Some help text goes here</span>
</div>
<div class="form-group">
    <label>Square Style</label>
    <div class="checkbox-inline">
        <label class="checkbox checkbox-square">
            <input type="checkbox" checked="checked" name="Checkboxes13_1" />
            <span></span>
            Option 1
        </label>
        <label class="checkbox checkbox-square">
            <input type="checkbox" name="Checkboxes13_1" />
            <span></span>
            Option 2
        </label>
        <label class="checkbox checkbox-square">
            <input type="checkbox" name="Checkboxes13_1" />
            <span></span>
            Option 3
        </label>
    </div>
    <span class="form-text text-muted">Some help text goes here</span>
</div>
<div class="form-group">
    <label>Rounded Style</label>
    <div class="checkbox-inline">
        <label class="checkbox checkbox-rounded">
            <input type="checkbox" checked="checked" name="Checkboxes15_1" />
            <span></span>
            Option 1
        </label>
        <label class="checkbox checkbox-rounded">
            <input type="checkbox" name="Checkboxes15_1" />
            <span></span>
            Option 2
        </label>
        <label class="checkbox checkbox-rounded">
            <input type="checkbox" name="Checkboxes15_1" />
            <span></span>
            Option 3
        </label>
    </div>
    <span class="form-text text-muted">Some help text goes here</span>
</div>

