﻿@model housingSurvey.Models.survQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>survQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ageRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ageRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eduLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eduLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empStatsus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empStatsus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numDepend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numDepend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCurrentHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCurrentHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthIncRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthIncRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentHomeSit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentHomeSit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.savingsEqu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.savingsEqu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noHomeWhy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noHomeWhy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.financeOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.financeOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseEnviro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseEnviro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dwellStruct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dwellStruct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedroomNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedroomNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bathroomNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bathroomNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.individualMov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.individualMov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noApplyWhy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noApplyWhy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elseShare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elseShare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_marStatus.descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_marStatus.descrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_nationality.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_nationality.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_villages.CITY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_villages.CITY_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
