﻿@model IEnumerable<housingSurvey.Models.survQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ageRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eduLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empStatsus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numDepend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numCurrentHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthIncRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentHomeSit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.savingsEqu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noHomeWhy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.financeOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.houseEnviro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dwellStruct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedroomNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bathroomNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.individualMov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noApplyWhy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elseShare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REF_marStatus.descrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REF_nationality.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REF_villages.CITY_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ageRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eduLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empStatsus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numDepend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numCurrentHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthIncRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentHomeSit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.savingsEqu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noHomeWhy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.financeOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.houseEnviro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dwellStruct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bedroomNeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bathroomNeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.individualMov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noApplyWhy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elseShare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REF_marStatus.descrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REF_nationality.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REF_villages.CITY_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
