﻿@model housingSurvey.Models.survQuestion

@{
    ViewBag.Title = "Create";
}

<h2> </h2>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="~/Content/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery-validation/js/jquery.validate.js"></script>


<style>
    .error, #summary {
        color: red
    }

    .error {
        background-color: yellow;
    }
</style>
<div style="text-align:center;padding-bottom:10px">
    <h1>Government of Dominica New Housing Initiative Survey Questionnaire</h1>
</div>

<div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
    <div class="alert-icon">
        <span class="svg-icon svg-icon-primary svg-icon-xl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
                    <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </div>
    <div class="alert-text">
        Welcome to the Government of Dominica New Housing Initative Survey Questionnaire, The purpose of this survery is to gague the interest of the public, private and diaspora in purchasing a home at a community that the government plans
        to build in the community of Warner. We would appreciate it if you could answer all the questions posed below to give an idea of your housing needs.

    </div>
</div>


<div class="card card-custom">
    <div class="card-header">
        <div class="" style="text-align:center">
            <h3 class="card-title"></h3>
        </div>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("saveQuestions", "SurvQuestion", null, FormMethod.Post, new { @id = "frmQuestions",  @data_ajax = "false" }))

    {
        @Html.AntiForgeryToken()
        <div id="summary"></div>
        <div class="card-body">

            <div class="form-horizontal">
                <h4>Demographics</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })


                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.gender, 0, new { @class = "radio", @id = "gender1", @type = "radio" })
                            <span></span>Male
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.gender, 1, new { @class = "radio", @id = "gender2" })
                            <span></span>Female
                        </label>
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>



                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ageRange, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })


                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ageRange, 0, new { @class = "radio", @id = "ageRange1", @type = "radio" })
                            <span></span>18-29
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ageRange, 1, new { @class = "radio", @id = "ageRange2" })
                            <span></span>30-39
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ageRange, 2, new { @class = "radio", @id = "ageRange3" })
                            <span></span>40-49
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ageRange, 3, new { @class = "radio", @id = "ageRange4" })
                            <span></span>50-59
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ageRange, 4, new { @class = "radio", @id = "ageRange5" })
                            <span></span>60+
                        </label>
                        @Html.ValidationMessageFor(model => model.ageRange, "", new { @class = "text-danger" })
                    </div>



                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.nationality_FK, "3. Select your Nationality", htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="col-md-10">
                        @Html.DropDownList("nationality_FK", null, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.nationality_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.village_FK, "4. If living in Dominica, what vollage/community do you reside in?", htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="col-md-10">
                        @Html.DropDownList("village_FK", null, "", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.village_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.eduLevel, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })

                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.eduLevel, 0, new { @class = "radio", @id = "eduLevel1", @type = "radio" })
                            <span></span>Primary School
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.eduLevel, 1, new { @class = "radio", @id = "eduLevel2" })
                            <span></span>High School
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.eduLevel, 2, new { @class = "radio", @id = "eduLevel3" })
                            <span></span>College
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.eduLevel, 3, new { @class = "radio", @id = "eduLevel4" })
                            <span></span>Post Graduate
                        </label>

                        @Html.ValidationMessageFor(model => model.eduLevel, "", new { @class = "text-danger" })
                    </div>


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.marStatus_FK, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.marStatus_FK, 0, new { @class = "radio", @id = "marStatus_FK1", @type = "radio" })
                            <span></span>Single(never married)
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.marStatus_FK, 1, new { @class = "radio", @id = "marStatus_FK2" })
                            <span></span>Married
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.marStatus_FK, 2, new { @class = "radio", @id = "marStatus_FK3" })
                            <span></span>Divorced
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.marStatus_FK, 3, new { @class = "radio", @id = "marStatus_FK4" })
                            <span></span>Widowed
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.marStatus_FK, 4, new { @class = "radio", @id = "marStatus_FK5" })
                            <span></span>Common-Law Union
                        </label>

                        @Html.ValidationMessageFor(model => model.marStatus_FK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripCap, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.descripCap, 0, new { @class = "radio", @id = "descripCap1", @type = "radio" })
                            <span></span>Public Sector
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.descripCap, 1, new { @class = "radio", @id = "descripCap2" })
                            <span></span>Private Sector
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.descripCap, 2, new { @class = "radio", @id = "descripCap" })
                            <span></span>Dominica living in the Diaspora
                        </label>


                        @Html.ValidationMessageFor(model => model.descripCap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empStatsus, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.empStatsus, 0, new { @class = "radio", @id = "empStatsus1", @type = "radio" })
                            <span></span>Employed full-time
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.empStatsus, 1, new { @class = "radio", @id = "empStatsus2" })
                            <span></span>Emploiyed part-time
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.empStatsus, 2, new { @class = "radio", @id = "empStatsus3" })
                            <span></span>Contractual engagement
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.empStatsus, 3, new { @class = "radio", @id = "empStatsus4" })
                            <span></span>Retired
                        </label>

                        @Html.ValidationMessageFor(model => model.empStatsus, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numDepend, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numDepend, 0, new { @class = "radio", @id = "numDepend1", @type = "radio" })
                            <span></span>None
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numDepend, 1, new { @class = "radio", @id = "numDepend2" })
                            <span></span>1 - 2
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numDepend, 2, new { @class = "radio", @id = "numDepend3" })
                            <span></span>3 - 4
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numDepend, 3, new { @class = "radio", @id = "numDepend4" })
                            <span></span>5+
                        </label>

                        @Html.ValidationMessageFor(model => model.numDepend, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numCurrentHome, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 0, new { @class = "radio", @id = "numCurrentHome1", @type = "radio" })
                            <span></span>Only you
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 1, new { @class = "radio", @id = "numCurrentHome2" })
                            <span></span>1 - 2
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 2, new { @class = "radio", @id = "numCurrentHome3" })
                            <span></span>3 - 4
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.numCurrentHome, 3, new { @class = "radio", @id = "numCurrentHome4" })
                            <span></span>5+
                        </label>

                        @Html.ValidationMessageFor(model => model.numCurrentHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.monthIncRange, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 0, new { @class = "radio", @id = "monthIncRange1", @type = "radio" })
                            <span></span>Less than $800
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 1, new { @class = "radio", @id = "monthIncRange2" })
                            <span></span>$800 - $1,1999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 2, new { @class = "radio", @id = "monthIncRange3" })
                            <span></span>$1,200 - $1,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 3, new { @class = "radio", @id = "monthIncRange4" })
                            <span></span>$2,000 - $2,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 4, new { @class = "radio", @id = "monthIncRange5" })
                            <span></span>$3,000 - $3,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 5, new { @class = "radio", @id = "monthIncRange6" })
                            <span></span>$4,000 - $4,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 6, new { @class = "radio", @id = "monthIncRange7" })
                            <span></span>$5,000 - $7,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.monthIncRange, 7, new { @class = "radio", @id = "monthIncRange8" })
                            <span></span>More than $7,000
                        </label>

                        @Html.ValidationMessageFor(model => model.monthIncRange, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4>Financial Information</h4>
                <hr />



                <div class="form-group">
                    @Html.LabelFor(model => model.existLoan, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.existLoan, true, new { @class = "radio", @id = "existLoan1", @type = "radio" })
                            <span></span>Yes
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.existLoan, false, new { @class = "radio", @id = "existLoan2" })
                            <span></span>No
                        </label>



                        @Html.ValidationMessageFor(model => model.existLoan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.currentHomeSit, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 0, new { @class = "radio", @id = "currentHomeSit1", @type = "radio" })
                            <span></span>Rent
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 1, new { @class = "radio", @id = "currentHomeSit2" })
                            <span></span>Own
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 2, new { @class = "radio", @id = "currentHomeSit3" })
                            <span></span>Living with family/friend but paying rent
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.currentHomeSit, 3, new { @class = "radio", @id = "currentHomeSit4" })
                            <span></span>Living with family/friend but not paying rent
                        </label>

                        @Html.ValidationMessageFor(model => model.currentHomeSit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.savingsEqu, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 0, new { @class = "radio", @id = "savingsEqu1", @type = "radio" })
                            <span></span>No Savings
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 1, new { @class = "radio", @id = "savingsEqu2" })
                            <span></span>Under $10,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 2, new { @class = "radio", @id = "savingsEqu3" })
                            <span></span>$10,000 - $20,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 3, new { @class = "radio", @id = "savingsEqu4" })
                            <span></span>$20,000 - $40,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.savingsEqu, 4, new { @class = "radio", @id = "savingsEqu5" })
                            <span></span>Over $40,000
                        </label>
                        @Html.ValidationMessageFor(model => model.savingsEqu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ownHome, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ownHome, true, new { @class = "radio", @id = "ownHome1", @type = "radio" })
                            <span></span>Yes
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.ownHome, false, new { @class = "radio", @id = "ownHome2" })
                            <span></span>No
                        </label>

                        @Html.ValidationMessageFor(model => model.ownHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.noHomeWhy, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.noHomeWhy, new { htmlAttributes = new { @class = "form-control", cols = 35, @rows = 3 } })
                        @Html.ValidationMessageFor(model => model.noHomeWhy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.financeOption, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 0, new { @class = "radio", @id = "financeOption1", @type = "radio" })
                            <span></span>Rent-to-own
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 1, new { @class = "radio", @id = "financeOption2" })
                            <span></span>Cash purchase
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.financeOption, 2, new { @class = "radio", @id = "financeOption3" })
                            <span></span>Bank loan
                        </label>

                        @Html.ValidationMessageFor(model => model.financeOption, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.annIncome, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 0, new { @class = "radio", @id = "annIncome1", @type = "radio" })
                            <span></span>Less than $25,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 1, new { @class = "radio", @id = "annIncome2" })
                            <span></span>$25,000 - $50,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 2, new { @class = "radio", @id = "annIncome3" })
                            <span></span>$50,000 - $100,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 3, new { @class = "radio", @id = "annIncome4" })
                            <span></span>$100,000 - $200,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.annIncome, 4, new { @class = "radio", @id = "annIncome5" })
                            <span></span>More than $200,000
                        </label>
                        @Html.ValidationMessageFor(model => model.annIncome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <h4>Housing Preferences</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.houseEnviro, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 0, new { @class = "radio", @id = "houseEnviro1", @type = "radio" })
                            <span></span>Gated Community
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 1, new { @class = "radio", @id = "houseEnviro2" })
                            <span></span>Housing Scheme
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.houseEnviro, 2, new { @class = "radio", @id = "houseEnviro3" })
                            <span></span>Apartment Complex
                        </label>

                        @Html.ValidationMessageFor(model => model.houseEnviro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.dwellStruct, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 0, new { @class = "radio", @id = "dwellStruct1", @type = "radio" })
                            <span></span>Single-Storey
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 1, new { @class = "radio", @id = "dwellStruct2" })
                            <span></span>Multi Storey
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 2, new { @class = "radio", @id = "dwellStruct3" })
                            <span></span>Unit in a shared or multi-unit residence
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.dwellStruct, 3, new { @class = "radio", @id = "dwellStruct4" })
                            <span></span>Deatached house
                        </label>
                        @Html.ValidationMessageFor(model => model.dwellStruct, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bedroomNeed, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 0, new { @class = "radio", @id = "bedroomNeed1", @type = "radio" })
                            <span></span>1 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 1, new { @class = "radio", @id = "bedroomNeed2" })
                            <span></span>2 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 2, new { @class = "radio", @id = "bedroomNeed3" })
                            <span></span>3 Bedroom Unit
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bedroomNeed, 3, new { @class = "radio", @id = "bedroomNeed4" })
                            <span></span>4+ Bedroom Unit
                        </label>
                        @Html.ValidationMessageFor(model => model.bedroomNeed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.bathroomNeed, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 0, new { @class = "radio", @id = "bathroomNeed1", @type = "radio" })
                            <span></span>1 Bath
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 1, new { @class = "radio", @id = "bathroomNeed2" })
                            <span></span>2 Bath
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.bathroomNeed, 2, new { @class = "radio", @id = "bathroomNeed3" })
                            <span></span>3+ Bath
                        </label>

                        @Html.ValidationMessageFor(model => model.bathroomNeed, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.individualMov, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 0, new { @class = "radio", @id = "individualMov1", @type = "radio" })
                            <span></span>Only You
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 1, new { @class = "radio", @id = "individualMov2" })
                            <span></span>1-2
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 2, new { @class = "radio", @id = "individualMov3" })
                            <span></span>3-4
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.individualMov, 2, new { @class = "radio", @id = "individualMov4" })
                            <span></span>5 or More
                        </label>
                        @Html.ValidationMessageFor(model => model.individualMov, "", new { @class = "text-danger" })
                    </div>
                </div>


                @*<div class="checkbox-inline">
                        <label class="checkbox checkbox-lg">
                            <input type="checkbox" checked="checked" name="Checkboxes3_1" />
                            <span></span>
                            Option 1
                        </label>
                        <label class="checkbox checkbox-lg">
                            <input type="checkbox" name="Checkboxes3_1" />
                            <span></span>
                            Option 2
                        </label>
                        <label class="checkbox checkbox-lg">
                            <input type="checkbox" name="Checkboxes3_1" />
                            <span></span>
                            Option 3
                        </label>
                    </div>*@



                <div class="form-group">
                    @Html.Label("24 What sort of amenities would you like in your housing unit?(Please tick all that apply)", htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                </div>



                <div class="checkbox-inline">
                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:50px">
                            @Html.CheckBoxFor(model => model.inAmtLaundry, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Laundry Room
                        </label>

                    </div>


                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:50px">
                            @Html.CheckBoxFor(model => model.inAmtMasB, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Master-Bedroom
                        </label>
                    </div>


                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:50px">
                            @Html.CheckBoxFor(model => model.inAmtPantry, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Pantry
                        </label>

                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:50px">
                            @Html.CheckBoxFor(model => model.inAmtYard, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Front Yard/ Back Yard
                        </label>
                    </div>

                </div>



                <div class="checkbox-inline">
                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:66px">
                            @Html.CheckBoxFor(model => model.inAmtSolar, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Solar Power
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:115px">
                            @Html.CheckBoxFor(model => model.inAmtGarage, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Garage
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg">
                            @Html.CheckBoxFor(model => model.inAmtWheel, new { @class = "checkbox", name = "inAmt" })
                            <span></span>
                            Wheelchair access entries/ exits
                        </label>
                    </div>


                </div>


                <div class="checkbox-inline">

                </div>


                <div class="form-group">
                    @Html.Label("25 List amenities you would want within the housing compound? (Please tick all that apply)", htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                </div>

                <div class="checkbox-inline">
                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:50px">
                            @Html.CheckBoxFor(model => model.outAmtPool, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Swimming Pool
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:85px">
                            @Html.CheckBoxFor(model => model.outAmtPark, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Recreational Park
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg">
                            @Html.CheckBoxFor(model => model.outAmtShop, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Minimart/Variety Store
                        </label>
                    </div>
                </div>


                <div class="checkbox-inline">
                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:45px">
                            @Html.CheckBoxFor(model => model.outAmtPubWIFI, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Community Wifi
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:45px">
                            @Html.CheckBoxFor(model => model.outAmtWheel, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Wheelchair Accessibility
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg">
                            @Html.CheckBoxFor(model => model.outAmtParking, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Parking Lot
                        </label>
                    </div>
                </div>



                <div class="checkbox-inline">
                    <div class="form-group">
                        <label class="checkbox checkbox-lg" style="padding-right:70px">
                            @Html.CheckBoxFor(model => model.outAmtPlay, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Playground
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox checkbox-lg">
                            @Html.CheckBoxFor(model => model.outAmtTenis, new { @class = "checkbox", name = "OutAmt" })
                            <span></span>
                            Tennis Court
                        </label>
                    </div>


                </div>





                <div class="form-group">
                    @Html.LabelFor(model => model.sizeHome, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 0, new { @class = "radio", @id = "sizeHome1", @type = "radio" })
                            <span></span>1000 sq ft - 1500 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 1, new { @class = "radio", @id = "sizeHome2" })
                            <span></span>1500 sq ft - 2500 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 2, new { @class = "radio", @id = "sizeHome3" })
                            <span></span>2500 sq ft - 4000 sq ft
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.sizeHome, 3, new { @class = "radio", @id = "sizeHome4" })
                            <span></span>Over 4000 sq ft
                        </label>
                        @Html.ValidationMessageFor(model => model.sizeHome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.homeAfford, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 0, new { @class = "radio", @id = "homeAfford1", @type = "radio" })
                            <span></span>Less than $50,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 1, new { @class = "radio", @id = "homeAfford2" })
                            <span></span>$50,000 - $99,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 2, new { @class = "radio", @id = "homeAfford3" })
                            <span></span>$100,000 - $149,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 3, new { @class = "radio", @id = "homeAfford4" })
                            <span></span>$150,000 - $199,999
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 4, new { @class = "radio", @id = "homeAfford5" })
                            <span></span>$200,000 - $250,000
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.homeAfford, 5, new { @class = "radio", @id = "homeAfford6" })
                            <span></span>More than $250,000
                        </label>

                        @Html.ValidationMessageFor(model => model.homeAfford, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.likelyApply, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="radio-list">
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.likelyApply, true, new { @class = "radio", @id = "likelyApply1", @type = "radio" })
                            <span></span>Yes
                        </label>
                        <label class="radio radio-lg">
                            @Html.RadioButtonFor(model => model.likelyApply, false, new { @class = "radio", @id = "likelyApply2" })
                            <span></span>No
                        </label>

                        @Html.ValidationMessageFor(model => model.likelyApply, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.noApplyWhy, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.noApplyWhy, new { htmlAttributes = new { @class = "form-control", cols = 35, @rows = 3 } })
                        @Html.ValidationMessageFor(model => model.noApplyWhy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.elseShare, htmlAttributes: new { @class = "control-label col-md-12", @style = "font-size:15px" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.elseShare, new { htmlAttributes = new { @class = "form-control", cols = 35, @rows = 3 } })

                        @Html.ValidationMessageFor(model => model.elseShare, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>*@

                <div class="form-group" style="text-align:center">
                    <div>
                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <button id="process" class="btn btn-primary btn-lg font-weight-bold btn-pill btn-shadow"><i class="feather icon-check-circle"></i>Submit Survey</button>
                    </div>
                </div>


                <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">

                    <div class="alert-text">
                        If you have any difficulties completing the survey, please send an email to lodrickk@dominica.gov.dm
                    </div>
                </div>


            </div>

        </div>
    }
</div>






<script type="text/javascript">





        $(document).ready(function () {

            $('#frmQuestions').validate(
                {
                    ignore: "",
                    rules: {
                        "gender": "required"//,
                        //"ageRange": "required",
                        //"nationality_FK": "required",
                        //"eduLevel": " required",
                        //"marStatus_FK": "required",
                        //"descripCap": "required",
                        //"empStatsus": "required",
                        //"numDepend": "required",
                        //"numCurrentHome": "required",
                        //"monthIncRange": "required",
                        //"existLoan": "required",
                        //"savingsEqu": "required",
                        //"currentHomeSit":"required",
                        //"ownHome": "required",
                        //"financeOption": "required",
                        //"annIncome": "required",
                        //"houseEnviro": "required",
                        //"dwellStruct": "required",
                        //"bedroomNeed": "required",
                        //"bathroomNeed": "required",
                        //"individualMov": "required",
                        //"sizeHome": "required",
                        //"homeAfford": "required",
                        //"likelyApply": "required"


                    },
                    messages: {
                        "gender": " Gender is Required"//,
                        //"ageRange": " Age Range is Required",
                        //"nationality_FK": " Nationality is Required",
                        //"eduLevel": " Education Level is Required",
                        //"marStatus_FK": " Marital Status is Required",
                        //"descripCap": " Question 7 is Required",
                        //"empStatsus": " Question 8 is Required",
                        //"numDepend": " Question 9 is Required",
                        //"numCurrentHome": " Question 10 is Required",
                        //"monthIncRange": " Question 11 is Required",
                        //"existLoan": " Question 12 is Required",
                        //"savingsEqu": " Question 14 is Required",
                        //"currentHomeSit": "Question 13 is Required",
                        //"ownHome": " Question 15 is Required",
                        //"financeOption": " Question 17 is Required",
                        //"annIncome": " Question 18 is Required",
                        //"houseEnviro": " Question 19 is Required",
                        //"dwellStruct": " Question 20 is Required",
                        //"bedroomNeed": " Question 21 is Required",
                        //"bathroomNeed": " Question 22 is Required",
                        //"individualMov": " Question 23 is Required",
                        //"sizeHome": " Question 26 is Required",
                        //"homeAfford": " Question 27 is Required",
                        //"likelyApply": " Question 28 is Required"


                    },
                    errorPlacement: function (error, element) {
                        error.insertBefore(element);
                    },
                    showErrors: function (errorMap, errorList) {

                        // summary of number of errors on form
                        var msg = "<br/>Your form contains " + this.numberOfInvalids() + " missing manditory fields, see details below.<br/><br/>"

                        // loop through the errorMap to display the name of the field and the error
                        $.each(errorMap, function (key, value) {
                            //  msg += "-" + key + ": " + value + "<br/>";
                            msg += value + "<br/>";
                        });

                        // place error text inside box
                        $("#summary").html(msg);

                        // also show default labels from errorPlacement callback
                        this.defaultShowErrors();

                        // toggle the error summary box
                        if (this.numberOfInvalids() > 0) {
                            $("#summary").show();
                        } else {
                            $("#summary").hide();
                        }

                    } // end showErrors callback
                }
            );




        $("#process").click(function (e) {
            debugger;
            e.preventDefault();

            this.disabled = "disabled";
            if ($('#frmQuestions').valid()) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Please wait, submission in progress',
                    showConfirmButton: false//,
                    //timer: 5500
                })
                // $("#frmQuestions").submit();

                SaveApplication();
            }
            else {
                Swal.fire({
                    type: 'error',
                    title: 'Manditory fields',
                    text: ' Please fill out all manditory fields before proceeding.'
                })
                document.getElementById("process").disabled = false;
            }
        });

            function getFormData($form) {
                debugger
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }


         function SaveApplication(isClose) {
                debugger;
                if ($('#frmQuestions').valid()) {

                    var formdata = new FormData();

                    var $form = $("#frmQuestions");

                    var formDetails = getFormData($form);






                    //if ($('#synFever')[0].checked) {
                    //    formdata.set('synFever', true);
                    //}


                    //if ($('#synLossS')[0].checked) {
                    //    formdata.set('synLossS', true);
                    //}

                    //if ($('#synCough')[0].checked) {
                    //    formdata.set('synCough', true);
                    //}
                    //if ($('#synShortB')[0].checked) {
                    //    formdata.set('synShortB', true);
                    //}
                    //if ($('#synExtFat')[0].checked) {
                    //    formdata.set('synExtFat', true);
                    //}
                    //if ($('#synDia')[0].checked) {
                    //    formdata.set('synDia', true);
                    //}



                    //


                    //  var actID = $('#actID').val();//appD.actID
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveQuestions", "survQuestion")',
                        data: formdata,
                        //dataType: 'json',
                        // contentType: false,
                        contentType: false,
                        processData: false,
                        cache: false,
                        error: function (XHR, exception) {

                            alert(exception.toString(), "Errors");
                        },

                        success: function (data) {

                            window.location.href = "/~/../survQuestion/Thanks";
                            //if (data.PassId === undefined) {
                            //    window.location.href = "/~/../Questdetails/Error?fullName=" + data.Name + "&passID=" + data.PassId;
                            //}
                            //else {
                            //    window.location.href = "/~/../Questdetails/Thanks?fullName=" + data.Name + "&passID=" + data.PassId;
                            //}


                        },
                        error: function (err) {

                        }
                    });


                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Manditory fields',
                        text: ' Please fill out all manditory fields before proceeding.'
                    })
                }
        }


    });



</script>