﻿@model housingSurvey.Models.survQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>survQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ageRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ageRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eduLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eduLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marStatus_FK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marStatus_FK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empStatsus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empStatsus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numDepend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numDepend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCurrentHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCurrentHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthIncRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthIncRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.existLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.existLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentHomeSit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentHomeSit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.savingsEqu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.savingsEqu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noHomeWhy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noHomeWhy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.financeOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.financeOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.houseEnviro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.houseEnviro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dwellStruct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dwellStruct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bedroomNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bedroomNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bathroomNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bathroomNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.individualMov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.individualMov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtLaundry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtLaundry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtMasB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtMasB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtPantry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtPantry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtSolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtSolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtYard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtYard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtGarage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtGarage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtWheel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtWheel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtBPorch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtBPorch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inAmtBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inAmtBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtPool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtPool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtPark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtPark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtShop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtShop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtPubWIFI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtPubWIFI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtWheel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtWheel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtParking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtParking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtWash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtWash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtTenis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtTenis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outAmtPlay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outAmtPlay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizeHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizeHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeAfford)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeAfford)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likelyApply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likelyApply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noApplyWhy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noApplyWhy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elseShare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elseShare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_nationality.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_nationality.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_villages.CITY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_villages.CITY_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
