﻿@model IEnumerable<housingSurvey.Models.survQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ageRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eduLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marStatus_FK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empStatsus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numDepend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numCurrentHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monthIncRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentHomeSit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.savingsEqu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noHomeWhy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.financeOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.houseEnviro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dwellStruct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedroomNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bathroomNeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.individualMov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtLaundry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtMasB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtPantry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtSolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtYard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtGarage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtWheel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtBPorch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inAmtBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtPool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtPark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtShop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtPubWIFI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtWheel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtParking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtWash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtTenis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outAmtPlay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sizeHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeAfford)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.likelyApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noApplyWhy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elseShare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REF_nationality.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REF_villages.CITY_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ageRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eduLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marStatus_FK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empStatsus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numDepend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numCurrentHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthIncRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.existLoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentHomeSit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.savingsEqu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noHomeWhy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.financeOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.houseEnviro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dwellStruct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bedroomNeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bathroomNeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.individualMov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtLaundry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtMasB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtPantry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtSolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtYard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtGarage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtWheel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtBPorch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inAmtBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtPool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtPark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtShop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtPubWIFI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtWheel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtParking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtWash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtTenis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outAmtPlay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sizeHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeAfford)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.likelyApply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noApplyWhy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elseShare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REF_nationality.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REF_villages.CITY_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.questionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.questionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.questionId })
        </td>
    </tr>
}

</table>
